In [3]:
import numpy as np
import pandas as pd

In [4]:
outside = ['A','A','B','B','C','C']
inside = [1,2,3,4,5,6]
hier_index = list(zip(outside,inside))
hier_index

[('A', 1), ('A', 2), ('B', 3), ('B', 4), ('C', 5), ('C', 6)]

In [29]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['A', 'B', 'C'], [1, 2, 3, 4, 5, 6]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 2, 3, 4, 5]])

In [30]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['X','Y'])

In [31]:
df

            X         Y
A 1 -1.146233  0.831544
  2 -0.913164  0.968144
B 3  0.926314  1.365705
  4 -0.073118  0.434119
C 5 -1.510974 -0.556496
  6 -0.052664  0.757968

In [32]:
df.loc['A']['Y']

1    0.831544
2    0.968144
Name: Y, dtype: float64

In [33]:
df.index.names = ['Groups','Numbers']
df

                       X         Y
Groups Numbers
A      1       -1.146233  0.831544
       2       -0.913164  0.968144
B      3        0.926314  1.365705
       4       -0.073118  0.434119
C      5       -1.510974 -0.556496
       6       -0.052664  0.757968

In [34]:
df.xs('B',level = 'Groups', axis = 0)

                X         Y
Numbers
3        0.926314  1.365705
4       -0.073118  0.434119

In [35]:
df.groupby('Groups').max()

               X         Y
Groups
A      -0.913164  0.968144
B       0.926314  1.365705
C      -0.052664  0.757968

In [43]:
df

                       Y
Groups Numbers
A      1        0.831544
       2        0.968144
B      3        1.365705
       4        0.434119
C      5       -0.556496
       6        0.757968

In [37]:
df.drop('X',axis=1) #drop a column - have to specify axis

                       Y
Groups Numbers
A      1        0.831544
       2        0.968144
B      3        1.365705
       4        0.434119
C      5       -0.556496
       6        0.757968

In [42]:
df

                       Y
Groups Numbers
A      1        0.831544
       2        0.968144
B      3        1.365705
       4        0.434119
C      5       -0.556496
       6        0.757968

In [ ]:
df.drop('X',axis=1, inplace = True) #drop a column - have to specify axis and inplace True to remove